<div class="unit span-grid">
<h2>Edit Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</fieldset>
<fieldset>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</fieldset>
<fieldset>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>
</fieldset>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<fieldset>
  <%= f.label :password %>
  <%= f.password_field :password, :autocomplete => "off" %>
</fieldset>
<fieldset>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</fieldset>
<fieldset>
  <%= f.label :current_password %>
  <%= f.password_field :current_password %>
</fieldset>

  <%= f.submit "Update", :class => "form-button" %>
<% end %>

<p><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
</div>