<!DOCTYPE html>
<html>
<head>
  <title>GlasgowPhotoWalks</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Inconsolata:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="outer-account-links">
	<div class="container">
		<div class="grid">
	<div class="unit span-grid account-links">
	<% if photographer_signed_in? %>
	  Logged in as <strong><%= current_photographer.first_name %></strong> &#124;
	    <%= link_to 'Edit profile', edit_photographer_registration_path %> &#124;
	    <%= link_to "Sign out", destroy_photographer_session_path, method: :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_photographer_registration_path %> &#124;
	    <%= link_to "Sign in", new_photographer_session_path %>
	<% end %>
	</div>
	</div>
	</div>
</div>

<div class="header-outer">
<header class="container">
	<div class="grid">
  <%= link_to image_tag("logo.png", class: "unit one-of-three"), "/" %>
</div>
</header>
</div>

<div class="container">
	<div class="grid">

<div class="unit span-grid">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
</div>

<%= yield %>

<footer class="unit span-grid">
	<p>Made in Glasgow &#124; Coded by <a href="http://twitter.com/iamashley">Ashley Baxter</a> &#124; Built in <a href="http://toadscaravan.com">Toad's Caravan</a> &#124; Remember to <a href-"http://ask-ashley.herokuapp.com">ask Ashley!</a></p>
</footer>


  </div>
 </div>
</body>
</html>
