<!DOCTYPE html>
<html>
<head>
  <title>GlasgowPhotoWalks</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Inconsolata:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="grid">

<div class="unit span-grid account-links">
<% if photographer_signed_in? %>
  Logged in as <strong><%= current_photographer.email %></strong>.
    <%= link_to 'Edit profile', edit_photographer_registration_path %> |
    <%= link_to "Logout", destroy_photographer_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_photographer_registration_path %> |
    <%= link_to "Login", new_photographer_session_path %>
<% end %>
</div>

<header>
<%= link_to image_tag("logo.png", class: "unit one-of-three"), "/" %>

<div class="unit two-of-three">

</div>
</header>

<div class="unit span-grid">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
</div>


<%= yield %>

<footer class="unit span-grid">
	<p>Made in Glasgow &#09; Built by Ashley Baxter &#09; Made in Toad's Caravan</p>
</footer>


  </div>
 </div>
</body>
</html>
