<!DOCTYPE html>
<html>
<head>
  <title>GlasgowPhotoWalks</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Inconsolata:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="outer-account-links">
	<div class="container">
		<div class="grid">
	<div class="unit span-grid account-links">
	  <%= link_to 'Facebook', "https://www.facebook.com/glasgowphotowalk" %> &#124; <%= link_to 'Flickr', "http://www.flickr.com/groups/2529401@N22/" %>
	</div>
	</div>
	</div>
</div>

<div class="header-outer">
<header class="container">
	<div class="grid">
  <%= link_to image_tag("logo.png", class: "unit one-of-three"), "/" %>
</div>
</header>
</div>

<div class="container">
	<div class="grid">

<div class="unit span-grid">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
</div>

<%= yield %>

<footer class="unit span-grid">
	<p>Made in Glasgow &#124; Coded by <a href="http://twitter.com/iamashley">Ashley Baxter</a> &#124; Built in <a href="http://toadscaravan.com">Toad's Caravan</a></p>
</footer>


  </div>
 </div>
<script type="text/javascript" src="flickfeed.js"></script>
<script type="text/javascript">
	Flickfeed({
		group_id: "2529401@N22",
		limit: 10,
		target: "#Flickfeed",
		size: 'q', // 150 square
		sort: 'date-posted-desc'
	});
</script>
</body>
</html>
