<!DOCTYPE html>
<html>
<head>
  <title>Glasgow Photo Walk</title>
  <meta name="description" content="Glasgow Photo Walk is a structured yet informal walk around the city of Glasgow, requiring just two essentials - a camera and tolerance of rain!">
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Inconsolata:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="google-site-verification" content="gCkRtEQEZkX4xIrUef-NtXUk__8-W3OZVzN07jvr4tA" />
</head>
<body>
<div class="outer-account-links">
	<div class="container">
		<div class="grid">
	<div class="unit span-grid account-links">
	  <%= link_to 'Flickr', "http://www.flickr.com/groups/2529401@N22/" %> &#124; <%= link_to 'Facebook', "https://www.facebook.com/glasgowphotowalk" %>
	</div>
	</div>
	</div>
</div>

<div class="header-outer">
<header class="container">
	<div class="grid">
  <%= link_to image_tag("logo.png", class: "unit one-of-three"), "/" %>
</div>
</header>
</div>

<div class="container">
	<div class="grid">

<div class="unit span-grid">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
</div>

<%= yield %>

<footer class="unit span-grid">
	<p>Made in Glasgow &#124; By <a href="http://twitter.com/iamashley">Ashley Baxter</a> &#124; Built in <a href="http://toadscaravan.com">Toad's Caravan</a>
</footer>


  </div>
 </div>
<script type="text/javascript" src="flickfeed.js"></script>
<script type="text/javascript">
	Flickfeed({
		userId: "9890806@N04",
		target: ".square-grid",
		limit: 10,
		size: 'q', // 150 square
		sort: 'date-posted-desc'
	});
</script>
</body>
</html>
